<p style="color: green"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4">Events</h1>
  <p class="lead">You can see here all our events !</p>
  <a class="btn btn-outline-danger btn-sm" href="<%= new_event_path%>" role="button">New event</a>
  <hr class="my-4">
  <br><br>
</div>


<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>